.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}
.mytabsnewtask {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}
.mytabs input[type="radio"] {
    display: none;
}

.mytabsnewtask input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #fff;
    font-weight: bold;
}
.mytabsnewtask label {
    padding: 25px;
    background: #fff;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}

.mytabsnewtask .tab1 {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #d31414;
}

.mytabsnewtask input[type='radio']:checked + label + .tab1 {
    display: block;
}

.mytabsnewtask input[type="radio"]:checked + label {
    background: #d31414;
}